DB_HOST=
DB_NAME=
DB_PASSWORD=
DB_PREFIX=
DB_USER=
RYOKOURENT_ADMIN_WHATSAPP=
RYOKOURENT_ADMIN_WHATSAPP_SECONDARY=
RYOKOURENT_DEFAULT_DAILY_RATE=
RYOKOURENT_DEFAULT_MONTHLY_RATE=
RYOKOURENT_DEFAULT_WEEKLY_RATE=
RYOKOURENT_OPERATIONAL_CLOSE=
RYOKOURENT_OPERATIONAL_OPEN=
RYOKOURENT_POOL_BATU_ADDRESS=
RYOKOURENT_POOL_BATU_MAPS=
RYOKOURENT_POOL_BATU_NAME=
RYOKOURENT_POOL_MALANG_ADDRESS=
RYOKOURENT_POOL_MALANG_MAPS=
RYOKOURENT_POOL_MALANG_NAME=
WP_ENV=
WP_HOME=
WP_SITEURL=
WP_TIMEZONE=